:root { 
    --primary-color: #020001;
    --secondary-color: #042bd4;
    --third-color: #e93131;
    --background-color: #020001;
    --text-color-dark: white ; 
    --text-color-titles: color-mix(in srgb, var(--text-color-light) 100%, white 20% );
    --text-color-accent: #eb73AF;
    --text-color-light: #88ff55;
    --text-color-hover: color-mix(in srgb, var(--secondary-color) 60%, transparent 30%);
}

html {
    font-size: 16px; 
}

ul li{
  list-style: none;
}

.container {
  max-width: 75rem; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem; 
  padding-right: 0.9375rem;
  display: flex;
}

#main {
  margin-top: 1em;
  margin-bottom: 0.125rem; 
  color: var(--text-color-dark);
  font-size: 2.25rem; 
  width: 100%;
  font-family: 'Work Sans', sans-serif;
}


img {

  max-width: 100%; 
  height: auto; 
}

.hero-image {
    border-radius: 0.625rem;
    display: block; 
    width: 100%;
    height: auto;
}


body {
    font-family: 'Work Sans', sans-serif; /* Fallback included */
    background-color: var(--background-color);
    line-height: 1.6;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


.logo-title-container {
    flex-wrap: wrap;
}
 
/* --- Base Styles for all screens (Desktop First) --- */

/* Apply a margin when scrolling to an anchor point, preventing overlap */
h1, h2, h3, h4, h5, h6, nav {
    font-family: 'IBM Plex Mono', monospace; 
    color: var(--text-color-titles);
    scroll-margin-top: 10rem;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
    font-size: 5rem;
    font-family: 'Goldman', Impact, sans-serif;
    line-height: 4rem;
    text-wrap: balance;
    font-weight: 700;
    
    
}

h1 {
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 6rem;
    font-weight: 700;
}

.site-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.25rem; /* Converted from 20px */
  background-color: var(--primary-color);
  border-radius: 0; /* Converted from 0px */
  box-shadow: 0.125rem 0.125rem 0.125rem white;
  font-size: 1.875rem; 
}

.site-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top:1px solid white;
  padding: 0rem 0;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: white;
}


.footer-links {
  font-family: 'Work Sans';
  font-size: 1.5rem;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  margin: 0;
}

.logo-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.site-logo img {
    height: 3rem; 
    padding: 0.625rem 0.9375rem; 
}

.main-nav {
    background: none;
    border-color: white;
    list-style: none;
    list-style-type: none;
}


.menu-list {
    color: var(--text-color-titles);
    list-style: none;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 1.25rem; 
    text-transform: uppercase;
    gap: 1.25rem; 
    flex-wrap: wrap;
}



.menu-list li a {
    padding: 0.625rem 0.9375rem; 
    color: var(--text-color-dark);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    font-family: 'IBM Plex Mono', monospace;
}

.menu-list li a:hover {
    color: var(--third-color);
}

.menu-toggle-button {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 1.4rem;
    height: 2rem;
    position: relative;
    index: 1000;
}



/* --- the lines just the visualization of the menu --- */
.bar {
    display: block;
    width: 4.45rem; 
    height: 0.24rem; 
    background-color: white;
    border-radius: 0.3125rem; 
    margin: 0.5rem auto;
    transition: 0.3s;
}

a {
    color: white; 
    text-decoration: none;
    }

p {
    color: var(--text-color-black);
    text-shadow: none;
    text-align: justify;
    font-size: 2rem; 
    font-family: 'Work Sans';
    font-weight: 400;
    font-style: regular;
}

.page-title {
    color: var(--text-color-titles);
    align-self: center;
    font-size: 4rem;
    padding-bottom: 0.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
}

.subtitulo, h3 {
    font-size: 4rem; /* Converted from 32px */
    color: var(--text-color-titles);
    background: none;
    border: none;
    box-shadow: none;
    padding-top: 0; /* Converted from 0px */
    line-height: 4rem;
    padding: 0rem 0rem;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;

}

hr {
  opacity: 0;
}

.strong {
    color: var(--text-color-accent);
}

.texto {
    color: var(--text-color-dark);
    padding: 0.625rem;  
    font-size: 2rem; 
    text-shadow: none;
    text-align: justify;
    padding: 0.1rem;
    font-family: 'Work Sans';
}


/* list section */

.tit-list {
    list-style: none;
    list-style-type: none;
    color: var(--text-color-titles);
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 0.5em;
    margin-bottom: 5rem;
    font-family: 'IBM Plex Mono';
}

.post-list {
  list-style: none;
  list-style-type: none;
  color: var(--text-color-titles);
  list-style-type: none;
  font-size: 1rem; 
  padding-left: 0; /* Optional, depending on your layout */
}

.post-item {
    color: var(--text-color-dark);
    font-size: 1rem;
}

.post-meta {
    color: var(--text-color-light);
    padding-left: 0.625rem;
    font-size: 1.4em;
}

.post-link {
    color: var(--text-color-light);
    font-family: 'Work Sans';
}

/* --- Media Query for Mobile (less than ~768px wide) --- */
@media (max-width: 768px) { 

  html { 
    font-size: 12px;

    }
  body {
    font-size: 0.875rem; 
  }

  /* Adjusting padding for main content areas on small screens */
  main {
    padding: 0.625rem; 
  }

    .site-header {

    display: flex;
    justify-content: space-around;
    align-items:center ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is always on top */
    padding: 0.125rem 0.125rem; 
    background-color: var(--primary-color); 
    box-shadow: 0 0.0325rem 0.0025rem white;
}

    .menu-toggle-button {
        display: block;
        order: 2;
        margin: 0rem;
        height: 3rem;
        width: 5rem;
    }


    .logo-title-container {
        order: 1;
        padding-top: 0.5rem;
    }
 
    body {
        padding-top: 2.25rem; 
        width: 80%;
        scroll-margin-top: 10rem;
    }

    .site-logo{
    display: block;
    padding-right: 0; 
    justify-self:center;
    align-self: center;
    }
    .site-logo img{
        height: 2.9rem;
        padding-top: 1rem;
    }
    .main-nav {
    display: none;
    position: absolute; /* Relative to the nearest positioned ancestor (in this case, the header) */
    top: 100%; /* Positions the menu exactly 100% of the header's height from the top */
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 9999; /* Ensure the menu is above the page content but below the header */
    justify-content: space-evenly;
    /* You can set a max-height and overflow-y: auto here if the menu links are long */
    }

    .main-nav.active {
        display: block;
        color: var(--text-color-titles);
        background-color: var(--primary-color);
        opacity: 90%;
        border-color: black;
        font-family: 'IBM Plex Mono', monospace;
    }

    /* Style the list of links */
    .menu-list {
        color: var(--text-color-titles);
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        gap: 0;
        font-size: 1.25rem; /* Larger font size for mobile */
        text-align: left; /* Aligns text to the left */
        text-transform: none; /* No uppercase for mobile */
    }

    /* Style the individual links */
    .menu-list li a {
        background-color: transparent;
        box-shadow: none;
        padding: 1.5rem 2rem; /* Ample padding for a larger touch target */
        display: block; /* Make the entire list item clickable */
        text-align: left;
        border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2); /* Converted from 1px */
        color: white;
    }
    
    .menu-list li a:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .menu-list li:last-child a {
        border-bottom: none;
    }

    .site-title-text {
        padding-right: 0; 
        font-size: 2.5rem; 
        justify-self: center;
        align-self: center;
    }

    .hero {
        padding-top: 2rem;
        width: 120%;
        height: auto;
    
    }

    .bar {
        align-self: center;
    }
}

/* --- IBM Plex Mono Fonts --- */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-ExtraLight.ttf') format('truetype');
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Italic.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semi Bold */
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}


/* --- Work Sans Fonts --- */
@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-ExtraLight.ttf') format('truetype');
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-Italic.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semi Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}


/* This rule ensures that bold text in the body uses the defined 700 weight file */
strong, b {
    font-weight: 700;
    color: var(--text-color-accent);
}

/* This rule ensures that italic text in the body uses the defined italic file */
em, i {
    font-style: italic;
}