<header class="site-header">
    <div class="logo-title-container">
        <!-- Site Logo -->
        <a href="{{ .Site.BaseURL }}" class="site-logo">
            {{ partial "picture.html" (dict 
                "path" "images/logo.png" 
                "alt" "A description of the image" 
                "class" "logo-image" 
                "loading" "eager" 
                "context" . 
                ) }}
        </a>
    </div>

    <!-- This is the hamburger button that will be visible on mobile -->
    <button id="menu-toggle" aria-label="Open Menu" class="menu-toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>

    <!-- The menu partial remains separate -->
    {{ partial "nav.html" . }}
</header>
