{{ define "main" }}
{{ $data := $.Site.Data.homepage }}

<div id="ti" class="textimage"></div>
<div id="home" class="home text-center">
  <h1>{{ .Site.Title }}</h1>
  <h2 class="subtitulo">{{ .Site.Params.homeText | markdownify }}</h2>
</div>

<div id="hero" class="hero">
  {{ partial "picture.html" (dict 
  "path" "images/hero.jpg" 
  "alt" "A description of the image" 
  "class" "hero-image" 
  "loading" "eager" 
  "context" . 
) }}
</div>

<div id="intro" class="intro text-center">
  {{/* Usamos los datos del JSON */}}
  <h1 id="introtitulo" class="subtitulo">{{ $data.introTitle }}</h1>
  
  {{/* Aplicamos markdownify al texto del JSON */}}
  <p id="copete" class="texto">{{ $data.introText | markdownify }}</p> 
  
  <h1 id="disecciontitulo" class="subtitulo">{{ $data.disecctionTitle }}</h1>
  
  <div id="disecciontexto" class="texto">
    {{/* Aplicamos markdownify al texto de la disección del JSON */}}
    {{ $data.dissectionText | markdownify }}
  </div>
</div>

{{ end }}